[Unit]
After=network.target
Description=Telegram Template Bot

[Service]
Type=simple
WorkingDirectory=/develop/tg-bot-template/
ExecStart=/usr/bin/python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target